@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700;800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'JetBrains Mono', monospace;

    background-color: #d600ff;
}

::-moz-selection {
    color: #d600ff;
    background: white;
}

::selection {
    color: #d600ff;
    background: white;
}

#preview-close {
    font-size: 26px;
    color: white;
    font-weight: 900;
}

#preview-close {
    cursor: pointer;
}

#wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;

    width: 300px;
    padding: 0 25px;
    height: 100%;

    background-color: #d600ff;
}

header img {
    max-width: 300px;
}

main {
    min-height: 100%;
    width: 100%;
}

article {
    height: 100%;

    background-image: url("res/bg.png");
    background-color: #d600ff;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#prices, #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sheet {
    color: white;
    background-color: #d600ff;
    width: 700px;
    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);
    padding: 25px;
    margin-top: 25px;
}

.sheet img {
    max-width: 100%;
}

.t {
    font-size: 26px;
    font-weight: bold;
}

.subt {
    margin-top: 25px;
    font-weight: bold;
}

#gallery:not(.active),
#prices:not(.active),
#contact:not(.active) {
    display: none;
}

.post {}

.post:hover {
    cursor: pointer;
}

.post:hover img {
    filter: invert(100%);
}

.image {
    height: 300px;
    width: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    position: relative;
    padding: 25px;

    overflow: hidden;
    background-color: #d600ff;
    color: white;
    height: 50px;
}

.title {
    font-size: 26px;
    font-weight: 800;
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 20px;
    width: 100%;

    background: rgb(214, 0, 255);
    background: linear-gradient(0deg, rgba(214, 0, 255, 1) 0%, rgba(214, 0, 255, 0) 100%);
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;

    background-color: #d600ff;
    color: white;

    position: sticky;
    top: 0;

    width: 100%;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    height: calc(100% - 50px);

    padding: 25px;
    overflow: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;

    background-color: #d600ff;
    color: white;

    width: 100%;
}

a,
a:active,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: 800;
}

#mobile-footer {
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;

    background-color: #d600ff;
    color: white;

    width: 100%;
    height: 40px;
    padding: 25px 0;
}

/* BEGIN PREVIEW */
#preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d400ff;
}

#preview:not(.active) {
    display: none;
}

#preview-post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#preview-post .image {
    max-width: 80%;
    height: auto;
    max-height: 50%;
}

#preview-post .image>img {
    object-fit: contain;
}

#preview-post .post {
    padding: 1rem;
}

#preview-post .description {
    text-align: center;
}

#preview-post .gradient {
    display: none;
}

#preview-close {
    position: absolute;
    top: 30px;
    right: 40px;
}

/* END PREVIEW */

@media (min-width: 775px) and (max-width: 1100px) {
    #gallery {
        display: flex;
        flex-direction: column;
    }

    .image {
        height: auto;
        max-height: 600px;
        width: 100%;
    }

    .description {
        height: auto;
        max-height: 300px;
        padding: 25px;
        text-align: justify;
        margin-top: -5px;
    }

    .post:hover img {
        filter: invert(0%);
    }

    .sheet {
        width: 400px;
    }
}

@media (max-width: 775px) {
    #wrap {
        display: initial;
    }

    header {
        width: 100%;
        height: auto;
        padding: 25px 0 25px 0;
        gap: 25px;
    }

    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: initial;
        padding: 25px 0 25px 0;
        height: auto;
    }

    footer {
        display: none;
    }

    #menu {
        position: sticky;
        top: 0;
        flex-direction: row;
        gap: 30px;
    }

    #mobile-footer {
        display: flex;
    }

    .post {
        width: calc(100% - 50px);
    }

    .description {
        height: auto;
        max-height: 300px;
        padding: 25px;
        text-align: justify;
        margin-top: -5px;
    }

    .image {
        height: auto;
        max-height: 600px;
        width: 100%;
    }

    .post:hover img {
        filter: invert(0%);
    }

    #prices, #contact {
        align-items: center;
        height: 100vh;
    }
    
    .sheet {
        width: calc(100% - 100px);
        max-height: calc(100% - 100px);
    }
}